@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;700&display=swap");

/* *** content *** */
:root {
  --black: #212121;
  --lemon: #b7d333;
}

body {
  font-family: "Cairo", sans-serif;
  line-height: 1.5em;
}

b {
  font-weight: 700;
}

.container {
  padding: 0 14%;
  max-width: 100%;
}

.header {
  padding: 0.5% 2% 0 17%;
}

.header > img {
  width: 18%;
  min-width: 173px;
}

.home-para {
  padding: 3% 20%;
}

.clearfix {
  clear: both;
}

.footer-wrapper {
  border-top: 1px solid black;
  width: 70%;
  margin: 0 auto;
  padding: 2% 3%;
  text-align: center;
}

.footer-wrapper img {
  width: 20%;
  min-width: 172px;
  margin-bottom: 1.5%;
}

/* *** thumbnails *** */

.thumbnail-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 2% 4%;
}

.thumbnail-wrapper > div {
  position: relative;
  float: left;
  margin: 0.3em;
  border-radius: 24px;
  overflow: hidden;
}

.thumbnail-text {
  text-align: center;
  font-size: 1.5em;
  text-transform: capitalize;
  z-index: 20;
  position: absolute;
  color: #fff;
  bottom: 23%;
  left: 0;
  right: 0;
}

.thumbnail-wrapper > div:after {
  content: " ";
  z-index: 10;
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 110, 125, 0.7);
}

.thumbnail {
  width: 16%;
  padding: 1%;
  font-weight: bold;
  /* color: #fff; */
  height: 365px;
  border-radius: 30px;
}

.thumbnail-wrapper > div:hover:after {
  background: rgba(0, 0, 0, 0.6);
  transition-timing-function: ease-out;
  transition: all 0.5s;
}

.thumbnail-wrapper > div:hover {
  transform: translate(0, -6px);
}

/* *** accordions *** */

.accordion-wrapper {
  display: block;
  margin: 2% auto;
  width: 75%;
}

.accordion-wrapper {
  padding: 2% 5%;
}

.child-accordion-wrapper {
  padding: 2% 5%;
  background-color: #fff;
  color: #212121;
}

.accordion-title {
  background: #212121;
  color: #fff;
  margin: 1% auto;
  width: 100%;
  display: block;
}

.is-open {
  background: var(--lemon) !important;
  width: 100%;
  display: block;
  padding: 2%;
}

.details {
  padding: 2% 0;
}

.Collapsible {
  background-color: white;
}

.Collapsible__contentInner {
  border-top: 0;
}
.Collapsible__contentInner p {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
}

.Collapsible__contentInner > img {
  width: 100%;
}

.img-overlay {
  position: relative;
}

.img-overlay:after {
  content: " ";
  z-index: 10;
  display: block;
  position: absolute;
  height: 99%;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
}

.Collapsible__contentInner p:last-child {
  margin-bottom: 0;
}

.Collapsible__trigger {
  display: block;
  font-weight: bold;
  font-size: 2em;
  text-transform: capitalize;
  color: #333333;
  position: relative;
  padding: 10px;
  background: #212121;
  padding: 3% 5%;
  color: white;
}

.Collapsible__trigger:after {
  /* content: url("../images/chevron-left-solid.svg"); */
  content: url("../images/direction-2.png");
  color: #fff;
  position: absolute;
  right: 1em;
  top: 0.5em;
  display: block;
  transition: transform 300ms;
}
.Collapsible__trigger.is-open:after {
  transform: rotateZ(180deg);
}
.Collapsible__trigger.is-disabled {
  opacity: 0.5;
  background-color: grey;
}

.CustomTriggerCSS {
  background-color: lightcoral;
  transition: background-color 200ms ease;
}

.CustomTriggerCSS--open {
  background-color: darkslateblue;
}

.Collapsible__custom-sibling {
  padding: 5px;
  font-size: 12px;
  background-color: #cbb700;
  color: black;
}
